/* GLOBAL */

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.btn-primary {
  background-color: var(--yellow);
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary.full {
  width: 100%;
}

.btn-primary:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


